<div style="margin-top: 4cm; width: 17cm; margin-left: 7cm;" class="p-2 mb-2 bg-dark text-white">update content</div>
<div style=" width: 15cm; margin-left: 8cm; height: 13mm;" class="input-group">
  <span class="input-group-text">updatedName</span>
  <input type="text" aria-label="First name" class="form-control" #txtupdatedName />
</div>
<div style="width: 15cm; margin-left: 8cm; height: 13mm;" class="input-group">
  <span class="input-group-text">posterUrl</span>
  <input type="text" aria-label="First name" class="form-control" #txtposterUrl />
</div>
<div style="width: 15cm; margin-left: 8cm; height: 13mm;" class="input-group">
  <span class="input-group-text">videoUrl</span>
  <input type="text" aria-label="First name" class="form-control" #txtvideoUrl>
</div>

<button style="margin-left: 130mm; margin-top: 10px; width: 5cm;" type="button" (click)="updateContent(txtupdatedName ,txtposterUrl ,txtvideoUrl)"
class="btn btn-primary">update</button>
<button style="margin-left: 130mm; margin-top: 10px; width: 5cm;" type="button" (click)="goToLicences()"
class="btn btn-success">update</button>
